<!DOCTYPE html>
<html>
<head>

<title>Newsroom CMS</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
background:#f4f6f9;
}

.topbar{
background:#1e3a5f;
color:white;
padding:10px 20px;
}

.nav-buttons a{
margin-right:8px;
}

</style>

</head>

<body>

<!-- HEADER -->

<div class="topbar">

<div class="d-flex justify-content-between align-items-center">

<div>
<h4 class="m-0">Newsroom Editorial System</h4>
</div>

<div>

<strong>{{ request.user.username }}</strong>
(
{{ request.user.userprofile.role|title }}
{% if request.user.userprofile.edition %}
- {{ request.user.userprofile.edition.name }}
{% endif %}
)

</div>

</div>

</div>


<!-- NAVIGATION -->

<div class="bg-dark p-2">

<div class="container-fluid d-flex justify-content-between align-items-center">

<div class="nav-buttons">

{% if request.user.userprofile.role == "reporter" %}
<a href="/reporter-dashboard/" class="btn btn-outline-light btn-sm">Dashboard</a>

{% elif request.user.userprofile.role == "subeditor" %}
<a href="/subeditor-dashboard/" class="btn btn-outline-light btn-sm">Dashboard</a>

{% elif request.user.userprofile.role == "editor" %}
<a href="/editor-dashboard/" class="btn btn-outline-light btn-sm">Dashboard</a>

{% elif request.user.userprofile.role == "paginator" %}
<a href="/pagination-dashboard/" class="btn btn-outline-light btn-sm">Dashboard</a>
{% endif %}

<a href="/create-article/" class="btn btn-outline-light btn-sm">Create Article</a>

{% if request.user.userprofile.role == "editor" or request.user.userprofile.role == "paginator" %}
<a href="/page-layout-planner/" class="btn btn-outline-light btn-sm">Page Planner</a>
{% endif %}

{% if request.user.userprofile.role == "editor" %}
<a href="/edition-inbox/" class="btn btn-outline-light btn-sm">Edition Inbox</a>
{% endif %}

{% if request.user.is_superuser %}

<a href="/user-control/" class="btn btn-outline-light btn-sm">
User Control
</a>

{% endif %}

<a href="/archive-search/" class="btn btn-outline-light btn-sm">Archive</a>

<a href="/change-password/" class="btn btn-outline-light btn-sm">Change Password</a>

</div>


<div>

<a href="/logout/" class="btn btn-danger btn-sm">Logout</a>

</div>

</div>

</div>


<!-- PAGE CONTENT -->

<div class="container mt-4">

{% block content %}
{% endblock %}

</div>

</body>
</html>
